<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:fragment="header">
        <header class="logical_block">
            <div class="nav_icon"><img src="/img/header/hamburger.png"></div>
            <div class="nav_icon"><img src="/img/header/search.png"></div>
            <div class="phat_logo"><img src="/img/logos/header_logo.jpg"></div>
            <div class="nav_icon"><img src="/img/header/admin.png"></div>
            <div class="nav_icon" sec:authorize="!isAuthenticated()"><a href="/login"><img src="/img/header/lock.png"></a>
            </div>
            <div class="nav_icon" sec:authorize="isAuthenticated()"><a href="/profile"><img src="/img/header/admin.png"></a>
            </div>
        </header>
    </th:block>
</body>
</html>